body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u13047 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:458px;
  width:398px;
  height:211px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13047 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:394px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:394px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13049_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13049 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:49px;
  width:155px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13049 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13049_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13049.disabled {
}
.u13049_input_option {
}
#u13050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u13050 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:55px;
  width:77px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u13050 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13051_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13051_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13051 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:49px;
  width:155px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13051 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13051_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13051.disabled {
}
.u13051_input_option {
}
#u13052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u13052 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:55px;
  width:77px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u13052 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13053_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13053 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:49px;
  width:155px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13053 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13053_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u13053.disabled {
}
.u13053_input_option {
}
#u13054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u13054 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:55px;
  width:77px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u13054 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13055 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:116px;
  width:320px;
  height:147px;
}
#u13056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u13056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u13056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13057 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:96px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u13057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u13057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13058 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:89px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u13058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u13058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13059 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u13059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u13059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:55px;
  height:29px;
  display:flex;
  transition:none;
}
#u13060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u13060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13061 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:32px;
  width:96px;
  height:29px;
  display:flex;
  transition:none;
}
#u13061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u13061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13062 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:32px;
  width:89px;
  height:29px;
  display:flex;
  transition:none;
}
#u13062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u13062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13063 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:32px;
  width:80px;
  height:29px;
  display:flex;
  transition:none;
}
#u13063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u13063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:55px;
  height:28px;
  display:flex;
  transition:none;
}
#u13064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u13064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13065 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:61px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
}
#u13065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u13065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13066 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:61px;
  width:89px;
  height:28px;
  display:flex;
  transition:none;
}
#u13066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u13066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13067 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:61px;
  width:80px;
  height:28px;
  display:flex;
  transition:none;
}
#u13067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u13067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:55px;
  height:30px;
  display:flex;
  transition:none;
}
#u13068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u13068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13069 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:89px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
}
#u13069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u13069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13070 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:89px;
  width:89px;
  height:30px;
  display:flex;
  transition:none;
}
#u13070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u13070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13071 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:89px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
}
#u13071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:55px;
  height:28px;
  display:flex;
  transition:none;
}
#u13072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u13072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13073 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:119px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
}
#u13073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u13073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13074 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:119px;
  width:89px;
  height:28px;
  display:flex;
  transition:none;
}
#u13074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u13074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13075 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:119px;
  width:80px;
  height:28px;
  display:flex;
  transition:none;
}
#u13075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u13075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
