body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:702px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:305px;
  display:flex;
  transition:none;
}
#u4447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:305px;
}
#u4447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:362px;
  width:346px;
  height:150px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4448 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
