body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1411px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:720px;
  display:flex;
  transition:none;
}
#u1016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:720px;
}
#u1016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:763px;
  width:701px;
  height:211px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1017 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
