body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13112 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:69px;
  width:600px;
  height:112px;
}
#u13113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u13113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13114 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u13114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13115 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u13115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13116 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u13116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13117 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u13117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13118 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u13118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u13118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13120 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:34px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13121 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:34px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13122 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:34px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13123 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:34px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13124 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:34px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13126 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:54px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13127 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:54px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13128 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:54px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13129 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:54px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13130 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:54px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13132 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:73px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13133 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:73px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13134 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:73px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13135 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:73px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13136 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:73px;
  width:100px;
  height:20px;
  display:flex;
  transition:none;
}
#u13136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u13136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13138 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:93px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13139 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:93px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13140 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:93px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13141 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:93px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13142 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:93px;
  width:100px;
  height:19px;
  display:flex;
  transition:none;
}
#u13142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u13142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 82, 217, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#0052D9;
}
#u13143 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:83px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#0052D9;
}
#u13143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 82, 217, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#0052D9;
}
#u13144 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:13px;
  width:83px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#0052D9;
}
#u13144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:317px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u13145 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:267px;
  width:373px;
  height:317px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u13145 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u13145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
